:root {
    --color-primary: #000000;
    --color-background:#F5F5F5;
    --color-white: #ffffff;
    --color-text-primary: #ffffff;
    --color-text-secondary: #535151; 
    --color-danger: #E00000;
    --color-link: #1E24BD;
}