@use '../02-tools' as tools;

@mixin fonts{
    --font-family: Arial, sans-serif;
    --font-weight-bold: 700;
    --font-weight-normal: 400;

    --font-size-38px: #{tools.pixel-to-rem(38px)};
    --font-size-32px: #{tools.pixel-to-rem(32px)};
    --font-size-28px: #{tools.pixel-to-rem(28px)};
    --font-size-24px: #{tools.pixel-to-rem(24px)};
    --font-size-18px: #{tools.pixel-to-rem(18px)};
    --font-size-16px: #{tools.pixel-to-rem(16px)};
    --font-size-14px: #{tools.pixel-to-rem(14px)};
}