@use '../02-tools' as tools;

@mixin spacings {
    --spacing-8px: #{tools.pixel-to-rem(8px)};
    --spacing-16px: #{tools.pixel-to-rem(16px)};
    --spacing-24px: #{tools.pixel-to-rem(24px)};
    --spacing-32px: #{tools.pixel-to-rem(32px)};
    --spacing-40px: #{tools.pixel-to-rem(40px)};
    --spacing-48px: #{tools.pixel-to-rem(48px)};
    --spacing-56px: #{tools.pixel-to-rem(56px)};
    --spacing-64px: #{tools.pixel-to-rem(64px)};
}