.chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-8px) var(--spacing-16px);
    border-radius: var(--border-radius);
    font-size: var(--font-size-14px);
    font-weight: var(--font-weight-normal);
    font-family: var(--font-family);
    border: none;
    background-color: var(--color-background);
    color: var(--color-text-secondary);

    &--active{
        background-color: var(--color-primary);
        color: var(--color-text-primary);
    }
}