@use '../02-tools' as tools;

.input {
    width: 100%;
    max-width: #{tools.pixel-to-rem(370px)};
    height: #{tools.pixel-to-rem(48px)};
    padding: 0 var(--spacing-24px);
    border: var(--border-width) var(--border-style) #000000;
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    font-size: var(--font-size-16px);
    font-family: var(--font-family);
    color: var(--color-text-secondary);

    &::placeholder {
        color: var(--color-text-secondary);
    }
}