@use '../02-tools' as tools;

.card {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-16px);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.card__image {
    width: 100%;
    /*Para definir una relacion proporcional entre el ancho y el alto*/
    aspect-ratio: 385 / 274;
    /*Para que rellene toda la card*/
    object-fit: cover;
    border-radius: var(--border-radius);
}

.card__chips {
    display: flex;
    gap: var(--spacing-16px);
}

.card__price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title {
    font-size: var(--font-size-24px);
    font-weight: var(--font-weight-normal);
    font-family: var(--font-family);
}

.card__price {
    font-size: var(--font-size-16px);
    font-weight: var(--font-weight-normal);
    color: var(--color-primary);
}

.card__discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__discount-info {
    display: flex;
    align-items: center;
    gap: var(--spacing-8px);
    color: var(--color-danger);
    font-size: var(--font-size-16px);
}

.card__discount-icon {
    width: var(--size-icon-discount);
}

.card__button {
    width: 100%;
}