@use '../02-tools' as tools;

.card {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-2);
    background-color: var(--color-white);
    border-radius: var(--border-radius-base);
    overflow: hidden;
}

.card__image {
    width: 100%;
    height: #{tools.pixel-to-rem(274px)};
    /*Para que rellene toda la card*/
    object-fit: cover;
    border-radius: var(--border-radius-base);
}

.card__chips {
    display: flex;
    gap: var(--spacing-2);
}

.card__price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-normal);
    font-family: var(--font-family-base);
}

.card__price {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    color: var(--color-primary);
}

.card__discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__discount-info {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    color: var(--color-danger);
    font-size: var(--font-size-small);
}

.card__discount-icon {
    width: var(--size-icon-discount);
}

.card__button {
    width: 100%;
}