@use 'sass:map';


$breakpoints: (
    mobile: 0,
    tablet: 468px,
    desktop: 1298px
);

@mixin breakpoint($nombre) {
    $min: map-get($breakpoints, $nombre);

    @media (min-width: $min) {
        @content;
    }
}